.App {
  text-align: center;
}
a {
  text-decoration: none;
  color: white
}
.header {
  border-bottom: solid black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ED4D00;

}

.nc-logo {
  justify-items: left;
  grid-area: 1 / 1 / 2 / 3;
  height: 100px;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  padding: 10px
  
}
.account {
  grid-area: 1 / 3 / 2 / 4;
}
.header-links {
  grid-area: 1 /1 /2 /2;
}

.title {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
}

.background-container {
  position: relative;
  background-color: #ED4D00;
}
/* colours - ECF1EE light, C9A675 beige, ED4D00 orange, A0938E grey 251E29, baltic sea /* */