.App {
  text-align: center;
}

.header {
  border-color: black;
  border-style: solid;
  padding: 10px;
}

.article-card {
  border-style: solid;
  padding: 5vh;
}

.article-card-img{
  max-width: 30vh;
}