.App {
  text-align: center;
}

.header {
  border-color: black;
  border-style: solid;
  padding: 10px;
}
/* .listed-articles {
  display: grid;
} */
/* 
.single-img {
  max-width: 60vw;
  margin-left: 2px;
  margin-right: 2px
}

.article-info {
  display:flex;
  justify-content: space-around;

}

.main {
  margin-left: 15%;
  margin-right: 15%;
}
*/

.listed-articles {
  max-width: 1920px;
  margin: 10px, 10px, 10px, 10px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  list-style-type: none;
}
.article-card {

  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 1vw;
  padding-left: 1vw; 
  align-items: center;
  /* padding: 20px;
  
  margin-top:auto */
  background-color: #fff;
  display: grid;
  position: relative;
  margin: 15px 15px 15px 0;
  box-shadow: rgb(234, 234, 234) 0px 25px 20px -20px;


}
.article-card-img{
  max-width: 29vw;
  max-height: 20vh;
}
.comments > ul {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 10px;
  list-style-type: none;
}

.comment-card {
  text-align: left;
} 

